{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

<div class="auth-wrapper">
    <div id="gooey"></div>
   <div id="flash-sky">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-container">
          {% for category, message in messages %}
            <div class="flash-msg flash-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      
    {% endwith %}
</div>
    <h1 class="auth-title">Join <span>SkinBuzz</span></h1>
    
    <div class="auth-card signup-page">
        <form action="{{ url_for('auth.signup') }}" method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="Enter Username" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Enter Password" required>
            </div>
            
            <button type="submit" class="auth-btn">SIGN UP NOW</button>
        </form>
        
        <div class="auth-footer">
            Already have an account? <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
    </div>
</div>
{% endblock %}